/* styles.css */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background:  #ffe6f2 ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
  }
  
  .container {
    width: 100%;
    max-width: 800px;
    text-align: center;
    padding: 20px;
  }
  
  .header {
    margin-bottom: 20px;
  }
  
  .header h1 {
    font-size: 32px;
    color: #333;
  }
  
  .header p {
    font-size: 18px;
    color: #666;
    margin-top: 10px;
  }
  
  .main-content {
    background-color:#f3a6c8;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .promo-image {
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .capture-box h2 {
    font-size: 24px;
    color: #fffdfd;
    margin-bottom: 10px;
  }
  
  .capture-box p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
  }
  
  label {
    font-size: 14px;
    color: #333;
    text-align: left;
    display: block;
    margin-top: 10px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
  }
  
  button {
    background-color:#e91e63;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  button:hover {
    background-color: #d6afc2;
  }
  
  .success-message {
    font-size: 16px;
    color: #28a745;
    margin-top: 20px;
  }
  